@page
@model MecanicosModel
@using mantencion.Data

<div class = "text-center">
    <h1 class="display-4">Nueva Mantenciones</h1>    
</div>
<div class="form-container">
    <table>
        <tr id="header" >
            <th>numero</th>
            <th>nombre</th>
        </tr>

        <tr>
            <td>1</td>
            <td>franz</td>
        </tr>

        <tr>
            <td>2</td>
            <td>ale</td>
        </tr>
    </table>
</div>
<style>

    table{
        border-collapse: collapse;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }

    th, td{
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #header{
        background-color: #4adede;
        color: #fff;
    }

    tr:hover{
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }


</style>

<script>
    function a(){
        alert("alerta");
    }
</script>